<?xml version='1.0' encoding='UTF-8'?>
<widget xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="CoNWeT" name="TimeSlider" version="1.3.1">
  <details>
    <title>Time Slider</title>
    <email>wirecloud@conwet.com</email>
    <image>images/catalogue.png</image>
    <smartphoneimage>images/catalogueSmartphone.png</smartphoneimage>
    <description>Do not find what you want? Use the time slider to filter your searches!</description>
    <authors>jserrano@conwet.com, sblanco@conwet.com</authors>
    <longdescription>DESCRIPTION.md</longdescription>
    <changelog>doc/changelog.md</changelog>
    <doc>doc/userguide.md</doc>
  </details>
  <requirements>
      <feature name="StyledElements"/>
  </requirements>
  <preferences>
    <preference name="clustering" type="boolean" label="Clustering" description="Check it if you want clusters in your timeLine" default="true"/>
    <preference name="time" type="text" label="Text time" description="Set the time you want to see info/warning/error text" default="4"/>
  </preferences>
  <wiring>
    <outputendpoint name="timeIntervalOutput" type="text" label="Time Interval" description="Send a timestamp via wiring to be used as a temporary filter." friendcode="timeInterval"/>
    <outputendpoint name="selectedMarkOutput" type="text" label="Selected mark" description="Send the current selected mark in the Time Slider." friendcode="mark"/>
    <inputendpoint name="markInsertInput" type="text" label="Insert mark" description="Insert a mark to show in the timeLine" actionlabel=" Insert Mark into TimeLine" friendcode="mark"/>
    <inputendpoint name="markSelectInput" type="text" label="Select mark" description="Select a showed mark in the timeLine" actionlabel="Select a Mark from TimeLine" friendcode="mark"/>
    <inputendpoint name="markDeleteInput" type="text" label="Delete mark" description="Delete an existing mark in the timeLine" actionlabel="Delete Mark from TimeLine" friendcode="mark"/>
  </wiring>
  <contents src="index.html" cacheable="false" useplatformstyle="true"/>
  <rendering height="30" width="10"/>
</widget>
